@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";


@theme {
  --font-lato: var(--font-lato), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-syncopate: var(--font-syncopate), ui-monospace, "Consolas", "Liberation Mono", "Courier New", "Courier", monospace;
  --font-parkinsans: var(--font-parkinsans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --breakpoint-xs: 24rem;
}


@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

/* Colors can be edited by the person focusing on design */
:root {
  --radius: 0.625rem;
  --background: #F2ECE7;
  --foreground: #000000;
  --primary: #DE8501;
  --primary-foreground: #111010;
  --secondary: #111010;
  --secondary-foreground: #F2ECE7;
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --kspace-color: #145EA8;
  --robot-club-color: #07166B;
  --alpha-0: #0000;
}

@layer base {
  * {
    @apply border-border outline-ring/50 font-lato scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bubbles {
  position: relative;
  display: block;
  scale:0.85
}

.bubbles.bubbles-bl::before {
  content: "";
  box-shadow: -2.5rem -3rem 0 -0.625rem var(--primary), -3.5rem -6rem 0 -0.95rem var(--primary);
  @apply rounded-full bg-primary aspect-square absolute left-0 bottom-0 w-[14.25%] max-w-10 sm:max-w-15 block;
}

.bubbles.bubbles-br::before {
  content: "";
  box-shadow: 2.5rem -3rem 0 -0.625rem var(--primary), 3.5rem -6rem 0 -0.95rem var(--primary);
  @apply rounded-full bg-primary aspect-square absolute right-0 bottom-0 w-[14.25%] max-w-10 sm:max-w-15 block;
}

.bubbles.bubbles-tl::before {
  content: "";
  box-shadow: -2.5rem 3rem 0 -0.625rem var(--primary), -3.5rem 6rem 0 -0.95rem var(--primary);
  @apply rounded-full bg-primary aspect-square absolute left-0 top-0 w-[14.25%] max-w-10 sm:max-w-15 block;
}

.bubbles.bubbles-tr::before {
  content: "";
  box-shadow: 2.5rem 3rem 0 -0.625rem var(--primary), 3.5rem 6rem 0 -0.95rem var(--primary);
  @apply rounded-full bg-primary aspect-square absolute right-0 top-0 w-[14.25%] max-w-10 sm:max-w-15 block;
}